/*

Template 2082 Pure Mix

http://www.tooplate.com/view/2082-pure-mix

*/

/* Body
------------------------------------- */
body {
		background: #ffffff;
    font-family: 'Abril Fatface';
    font-style: normal;
    font-weight: 300;
    position: relative;
}

html,body {
  width: 100%;
  overflow-x: hidden;
}

html {
  font-size: 100%;
}


/* Typography
------------------------------------- */

h1,h2,h3,h4 {
  font-weight: 400;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}

h1 {
  color: #000;
  font-size: 1.5rem;
  font-weight: 600;
}

h2 {
  color: #ffffff;
  /* font-size: 2rem; */
}

h3 {
  color: #444;
  font-size: 14px;
  letter-spacing: 0.1rem;
}

h5 {
  font-weight: 400;
  letter-spacing: 0.1rem;
}

p {
  color: #777;
  font-size: 16px;
  line-height: 28px;
  word-spacing: 1px;
  letter-spacing: 1px;
}

a {
  outline: none;
  text-decoration: none;
}
a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
  outline: 0;
  -webkit-transition: all 0.25s ease-out;
  -moz-transition: all 0.25s ease-out;
  -ms-transition: all 0.25s ease-out;
  -o-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
}

img {
  width: 100%;
  max-width: 100%;
}


/* preloader styles
/* ========================================== */
.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99999;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    background: none repeat scroll 0 0 #fff;
}

.sk-spinner-pulse {
  width: 60px;
  height: 60px;
  background-color: #111112;
  border-radius: 100%;
  -webkit-animation: sk-pulseScaleOut 1s infinite ease-in-out;
          animation: sk-pulseScaleOut 1s infinite ease-in-out; }

@-webkit-keyframes sk-pulseScaleOut {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0); }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0; } }

@keyframes sk-pulseScaleOut {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0); }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0; } }



/* navigation styles
/* ========================================== */
.nav-container,
nav {
  overflow: visible;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
}

nav {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
}

nav a {
  color: #333333;
}

.navbar {
  background: transparent;
  height: 94px;
  max-height: 94px;
  margin: 0;
  border-radius: 0;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
}

.brand {
  float: left;
  padding: 30px 0 0;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}
.brand a {
  color: #ffffff;
  font-size: 24px;
  font-weight: 700;
  opacity: 1;
  text-decoration: none;
}

.navicon {
  position: relative;
  right: 0;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  padding: 20px 0 0;
}

nav ul {
  display: inline-block;
}

nav ul.right {
  float: right;
  right: 0
}

#nav-menu  {
  padding-left: 0px;
}
#nav-menu a {
  font-weight: 300;
  font-size: 26px;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
}

#nav-menu li {
  list-style: none;
  padding: 6px;
}

.nav-text-light a {
  color: #ffffff;
}

.sticky .nav-text-light a {
  color: #555555;
}

.sticky nav.nav-inner .navbar {
  height: 70px;
  max-height: 70px;
  margin: 0;
  background: #ffffff;
}

.sticky nav.transparent .navbar {
  background: transparent;
}

@media all and (max-width: 990px) {
  .nav-text-light a {
    color: #555555;
  }
  .nav-inner {
    background: #ffffff;
  }
  .transparent {
    background: transparent;
  }
  .navicon {
    padding-right: 10px;
  }
  nav ul.right {
  float: left;
  }
}

a.icon {
  font-size: 32px;
  padding-right: 20px;
}

.intro-inner {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
}

.close {
  font-family: inherit;
  font-size: 32px;
  font-weight: 300;
  text-shadow: none;
}
.close:focus {
  outline: 0px auto -webkit-focus-ring-color;
}

.circle {
  width: 45px;
  height: 45px;
  text-align: center;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -40px;
  margin-left: -40px;
  border-radius: 50%;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  cursor: pointer;
  z-index: 99;
  padding: 4px 0 0;
}

.circle i {
  font-size: 36px;
  color: #ffffff;
}

.circle.dark {
  border-color: #292929;
}

.circle.dark:before {
  border-color: transparent transparent transparent #292929;
}

.circle.large {
  height: 120px;
  width: 120px;
  margin-top: -60px;
  margin-left: -60px;
}

.circle.large:before {
  margin-top: -18px;
  margin-left: -10px;
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 20px 0 20px 31.0px;
  border-color: transparent transparent transparent #ffffff;
}

.circle.large.dark:before {
  border-color: transparent transparent transparent #292929;
}

.circle.inline {
  position: relative;
  top: 0;
  left: 0;
  margin-top: 0;
  margin-left: 0;
  display: inline-block;
  z-index: 0;
}

@media all and (max-width: 767px) {
  .circle.large {
    width: 90px;
    height: 90px;
    margin-top: -45px;
  }
  .circle.large:before {
    margin-top: -14px;
    margin-left: -8px;
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 15px 0 15px 25.0px;
    border-color: transparent transparent transparent #fff;
  }
}

.list-menu {
  position: fixed;
  visibility: hidden;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 9999999;
  background: rgba(0, 0, 0, 0.9);
  transition: all 0.6s ease;
  -webkit-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  opacity: 0;
  z-index: -1;
}

.list-menu.reveal-modal {
  opacity: 1;
  z-index: 999999;
  visibility: visible;
}

.list-menu .ion-close-round {
  font-size: 31px;
  position: absolute;
  top: 32px;
  right: 32px;
  color: #fff;
  cursor: pointer;
}

/* header section styles
/* ========================================== */
#header {
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
  text-align: center;
	background-color: #fffaf0;
  /* padding-top: 130px;
  padding-bottom: 100px; */
}

#header-custom {
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
  text-align: center;
  /* padding-top: 130px; */
  /* padding-bottom: 20px; */
}

#header .header-thumb {
  /* background: #ffffff;
  border: 10px solid #f9f9f9;
  padding: 62px 20px 62px 20px; */
}

.header-one .header-thumb,
.header-two .header-thumb,
.header-three .header-thumb,
.header-four .header-thumb,
.header-five .header-thumb {
  padding: 32px 20px 32px 20px !important;
}

.header-one, .header-two,
.header-three, .header-four,
.header-five {
  height: 42vh !important;
  min-height: 420px;
  padding-top: 120px !important;
}

.header-one {
  background: url('../images/header-bg.jpg') no-repeat;
  height: 60vh !important;
  min-height: 520px;
  padding-top: 150px !important;
}
.header-two {
  background: url('../images/header-bg.jpg') no-repeat;
}
.header-three {
  background: url('../images/header-three-bg.jpg') no-repeat;
}
.header-four {
  background: url('../images/header-bg-1.jpg') no-repeat;
}
.header-five {
  background: url('../images/header-five-bg.jpg') no-repeat;
}

.radio-btn {
    margin-left: 10px !important;
    margin-bottom: 10px !important;
}

/* Portfolio section styles
/* ========================================== */
#portfolio {
  text-align: center;
  /* padding-top: 3rem; */
  padding-bottom: 6rem;
	background: #fffaf0;
}

#portfolio img {
  width: 100%;
}

#portfolio .portfolio-thumb {
  position: relative;
  overflow: hidden;
  margin: 0;
	border-radius: 25px;
}

#portfolio .portfolio-thumb .portfolio-overlay {
  background: #141414;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

#portfolio .portfolio-thumb:hover .portfolio-overlay {
  opacity: 0.9;
}

#portfolio .portfolio-thumb .portfolio-overlay .portfolio-item {
    text-align: center;
    padding: 22% 20px 65px;
}

/* #portfolio .portfolio-thumb .portfolio-overlay .fa {
    background: #f9f9f9;
    border-radius: 100px;
    color: #141414;
    font-size: 1.3rem;
    display: inline-block;
    width: 3.5rem;
    height: 3.5rem;
    line-height: 3.5rem;
    text-align: center;
    text-decoration: none;
    margin-bottom: 4px;
} */

/*filter css*/
.filter-wrapper {
    width: 100%;
    margin-bottom: 32px;
    overflow: hidden;
}

.filter-wrapper li {
    display: inline-block;
    margin: 4px;
}

.filter-wrapper li a {
    color: #666;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 2px;
    padding: 8px 17px;
    margin-right: 2px;
    margin-left: 2px;
    text-transform: uppercase;
    display: block;
    text-decoration: none;
    transition: all 0.4s ease-in-out;
}
.filter-wrapper li a:active {
  background: #111112 !important;
}
.filter-wrapper li a:hover,
.filter-wrapper li a:focus {
  background: #111112;
  color: #ffffff;
}

/*isotope box css*/
.iso-box-section {
    width: 100%;
}

.iso-box-wrapper {
    width: 100%;
    padding: 0;
    clear: both;
    position: relative;
}

.iso-box {
    position: relative;
    min-height: 50px;
    float: left;
    overflow: hidden;
    margin-bottom: 25px;
}

.iso-box > a {
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.fluid-img {
    width: 100%;
    display: block;
}

/* single project section styles
/* ========================================== */
#single-project {
  padding-top: 4rem;
  padding-bottom: 6rem;
}

#single-project .project-info {
  padding-bottom: 10px;
}

#single-project img {
  padding-top: 14px;
}

/* about section styles
/* ========================================== */
#about {
  padding-top: 5rem;
  padding-bottom: 8rem;
}

#about .col-md-4 {
  padding-top: 16px;
  padding-bottom: 32px;
}

#about img {
  padding-bottom: 20px;
}

#about blockquote {
  letter-spacing: 2px;
  margin-top: 20px;
}

/* blog & single post section styles
/* ========================================== */
#blog,
#single-post {
  padding-top: 4rem;
  padding-bottom: 6rem;
}

#blog .blog-thumb {
  padding-top: 60px;
  padding-bottom: 40px;
}

#blog .post-format,
#single-post .post-format {
  padding-bottom: 10px;
}

#blog .post-format span,
#single-post .post-format span {
  color: #888;
  font-weight: 400;
  letter-spacing: 1px;
  padding-right: 10px;
}

#blog .blog-thumb .btn {
  border-radius: 0px;
  padding: 10px 32px;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-top: 22px;
  transition: all 0.4s ease-in-out;
}
#blog .blog-thumb .btn:hover {
  background: #111112;
  border-color: transparent;
  color: #ffffff;
}

.content-section {
    background: #fffaf0;
		padding: 40px 0;
}
/* Custom Button - Start */
#custom-btn .btn {
  border-radius: 0px;
  padding-top: 10px;
	padding-bottom: 10px;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-top: 10px;
  width: 50%;
  transition: all 0.4s ease-in-out;
	background: #cb202d;
	color: #ffffff;
	font-size: 16px;
	font-weight: 700;
}
#custom-btn .btn:hover {
  background: #282C35;
  border-color: transparent;
  color: #ffffff;
}
/* Custom Button - End */

#single-post blockquote {
  margin-top: 32px;
  letter-spacing: 2px;
}

.post-image {
	margin: 25px 0px;
}

#single-post .blog-comment,
#single-post .blog-comment-form {
  margin-top: 62px;
}

#single-post .blog-comment h3,
#single-post .blog-comment-form h3 {
  padding-bottom: 20px;
}

#single-post .blog-comment .media {
  padding-bottom: 22px;
}

#single-post .blog-comment .media img {
  padding-right: 14px;
}

#single-post .blog-comment h4 {
  font-weight: 700;
}

#single-post .blog-comment-form .form-control {
  background: transparent;
  border: 1px solid #eee;
  border-radius: 0px;
  box-shadow: none;
  font-size: 16px;
  margin-bottom: 16px;
  transition: all 0.4s ease-in-out;
}

#single-post .blog-comment-form input[type="submit"] {
  background: #111112;
  border-color: transparent;
  color: #ffffff;
  height: 50px;
}


/* contact section styles
/* ========================================== */
#contact {
  padding-top: 3rem;
  padding-bottom: 0rem;
}

#contact .fa {
  font-size: 17px;
  padding-right: 10px;
}

#contact #map-canvas  {
  border: none;
  width: 100%;
  height: 300px;
  margin-top: 40px;
}

#contact .contact-form {
  padding-top: 14px;
}

#contact .form-control {
  background: transparent;
  border: 1px solid #eee;
  border-radius: 0px;
  box-shadow: none;
  font-size: 16px;
  margin-bottom: 16px;
  transition: all 0.4s ease-in-out;
}

#contact .form-control:hover {
  border-color: #f0f0f0;
}

#contact textarea {min-height: 100px;}

#contact input {height: 50px;}

#contact input[type='submit'] {
  background: #111112;
  color: #ffffff;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 2px;
  transition: all 0.4s ease-in-out;
  margin-top: 10px;
}

#contact input[type='submit']:hover {
  background: #444;
}

#food input[type='submit'] {
  background: #111112;
  color: #ffffff;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 2px;
  transition: all 0.4s ease-in-out;
  margin-top: -2px;
}

.contact-submit {
	width: 50%;
}

#contact .col-md-4 {
  background: #fff;
  padding: 62px 0px 32px 42px;
  position: relative;
  bottom: -50px;
}

/* web section styles
/* ========================================== */
#web,{
  padding-top: 2rem;
  padding-bottom: 9rem;
}

#web .fa{
  /* font-size: 17px; */
  padding-right: 10px;
}

#web .web-form{
  padding-top: 14px;
  padding-bottom: 200px;
}

#web .form-control{
  /*background: transparent;*/
  border: 1px solid #eee;
  font-weight: 400;
  border-radius: 0px;
  box-shadow: none;
  font-size: 16px;
  margin-bottom: 16px;
  transition: all 0.4s ease-in-out;
}

#web .form-control:hover{
  border-color: #f0f0f0;
}

#web textarea {min-height: 100px;}

#web input {height: 50px;}

/* #web input {height: 30px;} */

#web select {height: 50px;}

#web input[type='submit'] {
  background: #111112;
  color: #ffffff;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 2px;
  transition: all 0.4s ease-in-out;
  margin-top: 10px;
}

#web input[type='submit']:hover{
  background: #444;
}

.web-submit{
  width: 50%;
  /* float: right; */
}

#web .pf-margin-0{
  margin: 0!important;
}
#web .pf-padding-0{
  padding: 0!important;
}

#web input[type="radio"]{
	  height: 10px;
}

.ma-nav{
  margin-left: -60px!important;
}
.ma-nav li a {
  display: block;
  padding: 1.4rem 2.6rem;
  box-sizing: border-box;
  background: #fff;
  border: solid 2px transparent;
}

.ma-nav li a strong {
  font-size: 17px;
  font-weight: 600;
  letter-spacing: -.5px;
  color: #1d3b48;
  margin-bottom: 5px;
}

.ma-nav li a span {
  font-size: 15px;
  font-weight: 400;
  color: #1d3b48;
  letter-spacing: -.4px;
  display: block;
}

.ma-nav li a.active {
  border-radius: 2px;
  background-color: rgba(137, 144, 141, 0.17);
}

li {
  list-style-type: none;
}
.pf-link {
  color: #14a9cc;
  font-weight: 600;
}

.tab-inner-content {
  background: #f7f7f7;
  padding: 1rem;
  border-radius: 2px;
  position: relative;
  letter-spacing: -.5px;
}

.ma-page-ttl {
  display: inline-block;
  letter-spacing: -.5px;
  font-size: 1.1rem;
  /* line-height: 22px; */
  font-weight: 500;
}

.ma-order-placed {
  display: inline-block;
  float: right;
  letter-spacing: -.3px;
  font-size: 1.1rem;
  /* line-height: 18px; */
}

.pf-col {
  box-sizing: border-box;
  -ms-flex: 0 0 auto;
  -webkit-box-flex: 0;
  flex: 0 0 auto;
  padding-right: 1rem;
  padding-left: 1rem;
}

.order-header{
  padding-bottom: 25px;
  text-align:center;
}

/* #web .col-md-4 {
  background: #fff;
  padding: 0px 0px 32px 42px;
  position: relative;
  bottom: -55px;
} */

input[type='radio'] { transform: scale(1.6); }


  /* Default mode */
  .tabbable-line > .nav-tabs {
    border: none;
    margin: 0px;
  }
  .tabbable-line > .nav-tabs > li {
    /* margin-right: 2px; */
    width: 16.6%;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
  }
  .tabbable-line > .nav-tabs > li > a {
    border: 0;
    margin-right: 0;
    color: #737373;
  }
  .tabbable-line > .nav-tabs > li > a > i {
    color: #a6a6a6;
  }
  .tabbable-line > .nav-tabs > li.open, .tabbable-line > .nav-tabs > li:hover {
    border-bottom: 4px solid #d1cfcf;
  }
  .tabbable-line > .nav-tabs > li.open > a, .tabbable-line > .nav-tabs > li:hover > a {
    border: 0;
    background: none !important;
    color: #333333;
  }
  .tabbable-line > .nav-tabs > li.open > a > i, .tabbable-line > .nav-tabs > li:hover > a > i {
    color: #a6a6a6;
  }
  .tabbable-line > .nav-tabs > li.open .dropdown-menu, .tabbable-line > .nav-tabs > li:hover .dropdown-menu {
    margin-top: 0px;
  }
  .tabbable-line > .nav-tabs > li.active {
    border-bottom: 4px solid #858585;
    position: relative;
  }
  .tabbable-line > .nav-tabs > li.active > a {
    border: 0;
    color: #333333;
    background-color: #DD423E;
  }
  .tabbable-line > .nav-tabs > li.active > a > i {
    color: #404040;
  }
  .tabbable-line > .tab-content {
    margin-top: -3px;
    /* background-color: #fff; */
    border: 0;
    border-top: 1px solid #eee;
    padding: 15px 0;
  }
  .portlet .tabbable-line > .tab-content {
    padding-bottom: 0;
  }

  /* Below tabs mode */

  .tabbable-line.tabs-below > .nav-tabs > li {
    border-top: 4px solid transparent;
  }
  .tabbable-line.tabs-below > .nav-tabs > li > a {
    margin-top: 0;
  }
  .tabbable-line.tabs-below > .nav-tabs > li:hover {
    border-bottom: 0;
    border-top: 4px solid #fbcdcf;
  }
  .tabbable-line.tabs-below > .nav-tabs > li.active {
    margin-bottom: -2px;
    border-bottom: 0;
    border-top: 4px solid #f3565d;
  }
  .tabbable-line.tabs-below > .tab-content {
    margin-top: -10px;
    border-top: 0;
    border-bottom: 1px solid #eee;
    padding-bottom: 15px;
  }
/* footer section styles
/* ========================================== */
footer {
  background: #282C35;
  padding-top: 60px;
  padding-bottom: 30px;
  text-align: center;
}

footer p {

    color: #ffffff;
    font-size: 16px;
    font-weight: bolder;

}

/* social icon */
.social-icon {
  padding: 0;
  margin: 0;
}
.social-icon li {
  list-style: none;
  display: inline-block;
}
.social-icon li a {
  border-radius: 100px;
  border: 1px solid transparent;
  color: #909090;
  font-size: 18px;
  width: 50px;
  height: 50px;
  line-height: 48px;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  transition: all 0.4s ease-in-out;
  padding: 0px;
  margin-top: 14px;
  margin-right: 8px;
  margin-left: 8px;
  position: relative;
  top: 0px;
}
.social-icon li a:hover {
  background: #ffffff;
}

.error-message {
  color: #C91613;
  display: block;
  margin-top: -15px;
  margin-bottom: 10px;
  font-size: 15px;
  font-weight: 400;
}

/* order section styles
/* ========================================== */
#order {
    padding-top: 1rem;
    padding-bottom: 9rem;
  }

  #order .fa {
    font-size: 17px;
    padding-right: 10px;
  }

  #order .order-form {
    padding-top: 14px;
  }

  #order .form-control {
    background: transparent;
    height: 50px !important;
    border: 1px solid #eee;
    border-radius: 0px;
    box-shadow: none;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 20px;
    transition: all 0.4s ease-in-out;
  }

  #order .drpdown {
    width:79%;
    display: inline;
  }

  #order .text {
    width:20%;
    display: inline;
  }



  #order .form-control:hover {
    border-color: #f0f0f0;
  }

  #order textarea {min-height: 100px;}

  #order input,select {height: 50px;}

  #order input[type='submit'] {
    background: #4CAF50;
    color: #ffffff;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 5px;
    transition: all 0.4s ease-in-out;
    margin-top: 10px;
    text-transform: uppercase;
  }

  #order input[type='submit']:hover {
    background: #444;
  }

  #order .order-submit {
      /* width: 50%; */
      margin-top: 35px;
  }

  #order .col-md-4 {
    background: #fff;
    padding: 62px 0px 32px 42px;
    position: relative;
    bottom: -50px;
  }

  .checkbox label, .radio label{
      padding-left: 0;
      padding-right: 20px;
      width: 49%;
  }
  #order .fa {
      font-size: 17px !important;
      padding-right: 3px;
  }

  #order .checkbox {
    margin-bottom: 20px;
}

  .checkbox label:after,
  .radio label:after {
      content: '';
      display: table;
      clear: both;
  }

  .checkbox .cr,
  .radio .cr {
      position: relative;
      display: inline-block;
      border: 1px solid #a9a9a9;
      /* border-radius: .25em; */
      width: 1.3em;
      height: 1.3em;
      float: left;
      margin-right: .5em;
  }

  .radio .cr {
      border-radius: 50%;
  }

  .checkbox .cr .cr-icon,
  .radio .cr .cr-icon {
      position: absolute;
      font-size: .8em;
      line-height: 0;
      top: 50%;
      left: 20%;
  }

  .radio .cr .cr-icon {
      margin-left: 0.04em;
  }

  .checkbox label input[type="checkbox"],
  .radio label input[type="radio"] {
      display: none;
  }

  .checkbox label input[type="checkbox"] + .cr > .cr-icon,
  .radio label input[type="radio"] + .cr > .cr-icon {
      transform: scale(3) rotateZ(-20deg);
      opacity: 0;
      transition: all .3s ease-in;
  }

  .checkbox label input[type="checkbox"]:checked + .cr > .cr-icon,
  .radio label input[type="radio"]:checked + .cr > .cr-icon {
      transform: scale(1) rotateZ(0deg);
      opacity: 1;
  }

  .checkbox label input[type="checkbox"]:disabled + .cr,
  .radio label input[type="radio"]:disabled + .cr {
      opacity: .5;
  }
/* address section styles
/* ========================================== */
  .address-type{
    border: 1px solid #d4cdcd;
    border-radius: 6px;
    box-shadow: none;
    font-size: 15px;
    width: 80px;
    height: 25px;
    font-weight: 500;
    text-align: center;
    float: left;
    transition: all 0.4s ease-in-out;
		margin-left:20px;
  }

  .default-address{
    border: 1px solid #d4cdcd;
    color: white;
    background: black;
    border-radius: 6px;
    box-shadow: none;
    font-size: 15px;
    width: 80px;
    height: 25px;
    float: right;
    font-weight: 500;
    text-align: center;
    transition: all 0.4s ease-in-out;
  }

  .address-name{
    float: left;
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 17px;
  }

  .address-new{
    background: url(../images/add-new-address.png) 0px center no-repeat;
    display: table-cell;
    vertical-align: middle;
    /* padding: 3.2em 1rem 3.2rem 4rem; */
    padding: 1.2em 1rem 1.2rem 4rem;
    text-align: center;
  }

  .address-location{
    float: left;
    font-weight: 400;
    height: 65px;
    font-size: 15px;
  }

  .body-content{
    min-height: 200px;
  }

  .edit-delete{
    float: right;
    color: #cc1414;
    font-weight: 400;

  }

  .address-box{
    margin-bottom:20px
  }

  .content{
    margin-bottom: 50px;
    min-height: 450px;
  }

  .big-message{
    font-size: 35px;
    text-align: center;
    padding-top: 10px;
  }

  .heading{
    font-size: 17px;
    line-height: 22px;
    margin-bottom: 10px;
    font-weight: 600;
  }

  .sub-heading{
    font-weight: 600;
    font-size: 15px;
    margin-bottom: 5px;
  }

  .order-items{
    min-height: 45px;
  }

  .block-content{
    margin-bottom: 15px;
  }

  .alert>p, .alert>ul{
    padding-left: 0px;
  }


  .pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover{
    background-color:black;
    border-color: black;
  }
  .pagination>li>a, .pagination>li>span{
    color: black;
  }

.nav-container {
	background: #cb202d;
}

/* Responsive Mobile styles
/* ========================================== */
@media (max-width: 980px) {

  .intro-inner {top: 30%;}

  #contact .col-md-4 {
    padding: 62px 20px 42px 32px;
  }

  #contact .col-md-4 p {
    font-size: 12px;
  }

  #contact #map-canvas {
    margin-bottom: 60px;
  }

  .address-box{
    min-height:100px;
    margin-bottom:20px
  }
}


@media (max-width: 768px) {

  .brand {
    padding-left: 24px;
  }

  .header-one, .header-two,
  .header-three, .header-four,
  .header-five {
    min-height: 380px;
	padding-top: 80px !important;
  }

  #about .col-md-4,
  #single-project .col-md-3 {
    padding-bottom: 32px;
  }

  .address-box{
    min-height:150px;
    margin-bottom:20px
  }

}


@media (max-width: 700px) {

  h1 {
    font-size: 1.3rem;
  }
  h3 {
    font-size: 13px;
    letter-spacing: 3px;
  }

  .filter-wrapper {
    padding: 0px;
  }

  #contact {
    padding-bottom: 4rem;
  }

  #contact .col-md-4 {
    padding: 32px 20px 22px 62px;
  }
  .contact-submit {
	width: 70%;
  }
  .checkbox label, .radio label{
    padding-left: 0;
    padding-right: 20px;
    width: 100%;
}
.address-location {
  float: left;
  font-weight: 400;
  height: 100px;
  font-size: 15px;
}

.address-box{
  min-height:150px;
  margin-bottom:20px
}

.big-message{
  font-size: 25px;
  text-align: center;
  padding-top: 10px;
}

}

@media (max-width: 450px) {
  .intro-inner {top: 50%;}
  .address-box{
    min-height:150px;
    margin-bottom:20px
  }
}
